//**
// Mixins
//**

BodyColor()
  background-color $color_01
  color $color_05

LinkColor()
  color $color_03

LinkHoverColor()
  color $color_03 - 20%

HeaderColor()
  background-color transparent

ArticleColor()
  background white
  a, a:link, a:visited
    LinkColor()
  a:hover, a:focus
    LinkHoverColor()

PostTitleColor()
  background-color transparent
  color $color_03
  a, a:link, a:visited
    LinkColor()
    text-decoration none
  a:hover, a:focus
    LinkHoverColor()
