blockquote
  border-left 4px solid $color_03
  margin 1em 0
  padding 0.2em 1em
  p
    font-style italic
    color $color_04

img
  border 0
  max-width 100%

figure
  margin 0

input[type="text"]
  border 1px solid $color_01
  padding 0.3rem

.clear:before, .clear:after
  content  "\0020"
  display  block
  height   0
  overflow hidden

.clear:after
  clear both

.half
  width  50%
  float  left

.text-right
  text-align right

.video
  width  100%
  iframe
    width  100%

.transparent
  opacity 0

.header
  text-align center
  margin-bottom ($add_padding  / 4) + 0em
  padding  ($add_padding / 3) + 0em
  position relative
  background linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 20%, rgba(0,0,0,.05) 80%, rgba(0,0,0,.2) 100%)
  a
    text-decoration none
    transition all .3s
    text-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
    &:hover
      text-shadow 0px 0px 5px #fff
  .top, .bottom
    content ""
    display block
    position absolute
    opacity 1
    top 0
    left 0
    height 100%
    width 100%
    z-index -1
    background-color #fff
    background-size cover
    background-position center center
    -webkit-filter blur(3px) brightness(.7)

.wrapper
  width  100%
  max-width  $readable_width * 1.2 + 2 * $add_padding
  margin  0 auto

article()
  ArticleColor()
  padding  (($add_padding/3) + 0em) ($add_padding + 0em)
  margin-bottom  ($add_padding  / 4) + 0em
  box-shadow  0px 1px 1px rgba(0, 0, 0, 0.1)
  border-radius  2px

.article
  article()

.readmore
  margin-top ($add_padding/3) + 0em
  text-align right

.article a.btn, a.btn
  padding 0.5rem 0.75rem
  text-align center
  font 0.88rem/1.5 "Lato", "PT Serif", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 700
  text-decoration none
  outline 0
  cursor pointer
  font-size 0.77rem
  background $color_03
  color #fff
  &:hover
    background $color_03 - 20%
  i
    font-size 1.2em
    font-weight 300
  margin-left 1px

.article a.btnhover, a.btnhover
  background $color_01
  color $color_05
  webkit-transition color 0.15s ease-in, background 0.15s ease-in
  -moz-transition color 0.15s ease-in, background 0.15s ease-in
  transition color 0.15s ease-in, background 0.15s ease-in

a.btn.icon-twitter
  background-color #32CCFE

a.btn.icon-facebook
  background-color #3B5999

a.btn.icon-gplus
  background-color #D44837

.article_meta
  border-top 1px solid $color_01
  padding-top ($add_padding/6) + 0em
  margin-top ($add_padding/3) + 0em
  font-size ($golden / 2) + 0em
  .left
    width 70%
    float left
  .right
    width 30%
    float right

.pagination-wrap
  article()
  background white
  overflow hidden
  text-align center
  .pagination
    position relative
  .older-posts
    position absolute
    right 0
    text-decoration none
  .newer-posts
    position absolute
    left 0
    text-decoration none

.footer
  text-align center
  padding  ($add_padding / 3) + 0em
  background-color #fff
  border-bottom (($add_padding / 14) + 0em) solid $color_03
  a.subscribe
    mB()
    display inline-block

.share
  margin 0
  margin-bottom 1em

.postauther
  padding-top ($add_padding/6) + 0em
  margin-top ($add_padding/3) + 0em
  border-top 1px solid $color_01

.authorimage
  width 100px
  height 100px
  background-size cover
  background-position center center
  border-radius 50%
  float left
  margin-right 1em

.authorbio p
  line-height 1.1rem

.footertext
  font-size ($golden / 2) + 0em

// Facebook comments should be 100% because can break the layout on mobile.
.fb-comments, .fb-comments > span, .fb-comments > span> iframe[style]
  width 100% !important


