@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url("../fonts/Lato-Light.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url("../fonts/Lato-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url("../fonts/Lato-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url("../fonts/Oxygen-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url("../fonts/Oxygen-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url("../fonts/Inconsolata.woff") format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url("../fonts/Inconsolata-Bold.woff") format('woff');
}
pre.prettyprint {
  display: block;
  background-color: #1b2426;
  font-family: 'Inconsolata', sans-serif;
  padding: 1rem;
  line-height: 1.1em;
}
pre .nocode {
  background-color: none;
  color: #000;
}
pre .str {
  color: #ffa0a0;
}
pre .kwd {
  color: #5ba1cf;
  font-weight: bold;
}
pre .com {
  color: #878a85;
}
pre .typ {
  color: #98fb98;
}
pre .lit {
  color: #cd5c5c;
}
pre .pun {
  color: #fff;
}
pre .pln {
  color: #fff;
}
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
pre .atv {
  color: #ffa0a0;
}
pre .dec {
  color: #98fb98;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
li:before {
  content: " ";
  margin-left: -5px;
}
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}
body {
  background-color: #e5e5e5;
  color: #525252;
  margin: 0;
  font-family: 'Oxygen', Arial, Helvetica, sans-serif;
  line-height: 1.618em;
  font-weight: 300;
  word-wrap: break-word;
}
a {
  transition: all 0.3s;
  background: transparent;
}
a:link,
a:visited {
  color: #62bae4;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  color: #2aa2da;
  outline: 0;
}
h1 {
  font-family: 'Lato', 'PT Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 3em;
  margin: 0.563em 0 0.18766666666666665em;
}
h2 {
  font-family: 'Lato', 'PT Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 2.25em;
  margin: 0.625em 0 0.20833333333333334em;
}
h3 {
  font-family: 'Lato', 'PT Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1.5em;
  margin: 1.313em 0 0.43766666666666665em;
}
h4 {
  font-family: 'Lato', 'PT Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1.313em;
  margin: 1.313em 0 0.43766666666666665em;
}
h5 {
  font-family: 'Lato', 'PT Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1.125em;
  margin: 1.313em 0 0.43766666666666665em;
}
h6 {
  font-family: 'Lato', 'PT Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.313em;
  font-weight: 400;
  font-size: 1em;
  margin: 0.75em 0 0.25em;
}
p,
ul {
  margin: 1.2rem 0;
}
.dimmed {
  color: #a9a9a9;
}
.posttitle {
  background-color: transparent;
  color: #62bae4;
}
.posttitle a,
.posttitle a:link,
.posttitle a:visited {
  color: #62bae4;
  text-decoration: none;
}
.posttitle a:hover,
.posttitle a:focus {
  color: #2aa2da;
}
.header {
  background-color: transparent;
}
.article {
  background: #fff;
}
.article a,
.article a:link,
.article a:visited {
  color: #62bae4;
}
.article a:hover,
.article a:focus {
  color: #2aa2da;
}
.blogtitle {
  font-size: 4.5rem;
}
.blogdescription {
  font-size: 2.6rem;
}
.blogtitle,
.blogdescription {
  color: #fff;
  margin: 0;
  -webkit-filter: blur(1px);
}
.posttitle {
  margin-top: 0;
  background-color: transparent;
  border-bottom: 0.04045em solid #62bae4;
  color: #62bae4;
  font-weight: 300;
}
.posttitle a,
.posttitle alink,
.posttitle avisited {
  color: #62bae4;
}
blockquote {
  border-left: 4px solid #62bae4;
  margin: 1em 0;
  padding: 0.2em 1em;
}
blockquote p {
  font-style: italic;
  color: #777;
}
img {
  border: 0;
  max-width: 100%;
}
figure {
  margin: 0;
}
input[type="text"] {
  border: 1px solid #e5e5e5;
  padding: 0.3rem;
}
.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clear:after {
  clear: both;
}
.half {
  width: 50%;
  float: left;
}
.text-right {
  text-align: right;
}
.video {
  width: 100%;
}
.video iframe {
  width: 100%;
}
.transparent {
  opacity: 0;
}
.header {
  text-align: center;
  margin-bottom: 2.0225em;
  padding: 2.6966666666666668em;
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.05) 20%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.2) 100%);
}
.header a {
  text-decoration: none;
  transition: all 0.3s;
}
.header a:hover {
  text-shadow: 0px 0px 5px #fff;
}
.header .top,
.header .bottom {
  content: "";
  display: block;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.wrapper {
  width: 100%;
  max-width: 59.379999999999995em;
  margin: 0 auto;
}
.article {
  background: #fff;
  padding: 2.6966666666666668em 8.09em;
  margin-bottom: 2.0225em;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
}
.article a,
.article a:link,
.article a:visited {
  color: #62bae4;
}
.article a:hover,
.article a:focus {
  color: #2aa2da;
}
.readmore {
  margin-top: 2.6966666666666668em;
  text-align: right;
}
.article a.btn,
a.btn {
  padding: 0.5rem 0.75rem;
  text-align: center;
  font: 0.88rem/1.5 "Lato", "PT Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  font-size: 0.77rem;
  background: #62bae4;
  color: #fff;
  margin-left: 1px;
}
.article a.btn:hover,
a.btn:hover {
  background: #2aa2da;
}
.article a.btn i,
a.btn i {
  font-size: 1.2em;
  font-weight: 300;
}
.article a.btnhover,
a.btnhover {
  background: #e5e5e5;
  color: #525252;
  webkit-transition: color 0.15s ease-in, background 0.15s ease-in;
  -moz-transition: color 0.15s ease-in, background 0.15s ease-in;
  transition: color 0.15s ease-in, background 0.15s ease-in;
}
a.btn.icon-twitter {
  background-color: #32ccfe;
}
a.btn.icon-facebook {
  background-color: #3b5999;
}
a.btn.icon-gplus {
  background-color: #d44837;
}
.article_meta {
  border-top: 1px solid #e5e5e5;
  padding-top: 1.3483333333333334em;
  margin-top: 2.6966666666666668em;
  font-size: 0.809em;
}
.article_meta .left {
  width: 70%;
  float: left;
}
.article_meta .right {
  width: 30%;
  float: right;
}
.pagination-wrap {
  background: #fff;
  padding: 2.6966666666666668em 8.09em;
  margin-bottom: 2.0225em;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  background: #fff;
  overflow: hidden;
  text-align: center;
}
.pagination-wrap a,
.pagination-wrap a:link,
.pagination-wrap a:visited {
  color: #62bae4;
}
.pagination-wrap a:hover,
.pagination-wrap a:focus {
  color: #2aa2da;
}
.pagination-wrap .pagination {
  position: relative;
}
.pagination-wrap .older-posts {
  position: absolute;
  right: 0;
  text-decoration: none;
}
.pagination-wrap .newer-posts {
  position: absolute;
  left: 0;
  text-decoration: none;
}
.footer {
  text-align: center;
  padding: 2.6966666666666668em;
  background-color: #fff;
  border-bottom: 0.5778571428571428em solid #62bae4;
}
.footer a.subscribe {
  margin-bottom: 1.3483333333333334em;
  display: inline-block;
}
.share {
  margin: 0;
  margin-bottom: 1em;
}
.postauther {
  padding-top: 1.3483333333333334em;
  margin-top: 2.6966666666666668em;
  border-top: 1px solid #e5e5e5;
}
.authorimage {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}
.authorbio p {
  line-height: 1.1rem;
}
.footertext {
  font-size: 0.809em;
}
.fb-comments,
.fb-comments > span,
.fb-comments > span> iframe[style] {
  width: 100% !important;
}
@media (max-width 52.0625em) {
  .wrapper {
    overflow: hidden;
  }
  .article {
    padding: 0 8.09/1.25em 8.09/1.25em 8.09/1.25em;
  }
  .footer {
    padding-left: 8.09/4em;
    padding-right: 8.09/4em;
  }
}
@media (max-width 47em) {
  .article {
    padding: 0 8.09/1.5em 8.09/1.5em 8.09/1.5em;
  }
}
@media (max-width 40em) {
  .article {
    padding: 0 8.09/2.25em 8.09/2.25em 8.09/2.25em;
  }
}
@media (max-width 35em) {
  .article {
    padding: 0 8.09/3.5em 8.09/3.5em 8.09/3.5em;
  }
}
@media (max-width 30em) {
  h1.blogtitle,
  h1.blogtitle a {
    font-size: 3rem;
  }
  h2.blogdescription,
  h2.blogdescription a {
    font-size: 1.125rem;
    margin: 0;
  }
  .article {
    padding: 0 8.09/5em 8.09/5em 8.09/5em;
  }
  h1.posttitle {
    font-size: 2.25em;
  }
  .half {
    width: 100%;
    float: none;
  }
  .half.text-right {
    text-align: left;
  }
}
