| {{!< default}}
| {{#contentFor "metaTitle"}}{{@blog.title}}{{/contentFor}}
.wrapper
  main.main(role='main')
    | {{#foreach posts}}
    article.article(role='article', itemscope='itemscope', itemtype='http://schema.org/Article')
      header.postheader
        h1.posttitle(itemprop='headline')
          a(href='{{{url}}}', rel='bookmark')
            | {{title}}
      .postcontent(itemprop='articleBody')
        | {{content words=50}}
      .readmore
        a.btn(href='{{{url}}}', rel='bookmark')
          | Read More →
      footer.article_meta
        span.dimmed 
          | Posted on 
        time.date(datetime!='{{date format="YYYY-MM-DD"}}', itemprop='datePublished')
          | {{date format='dddd DD MMM YYYY'}}
        | {{#if tags}}
        div
          span.dimmed
            | Tagged in 
          span
            | {{tags separator=" , "}}
        | {{/if}}
    | {{/foreach}}
    | {{#if pagination}}
    .pagination-wrap
      | {{{pagination}}}
      | {{/if}}
