footer.footer
  a.subscribe.btn.no-ajax(target='_blank', href='{{@blog.url}}/rss/')
    i.fa.fa-rss
    span.hidethis Subscribe!
  .footertext
    | All content copyright 
    a(href='/') {{@blog.title}} 
    | &copy; 2014 &bull; All rights reserved.
  .footertext
    | Powered by 
    a(href='http://tryghost.org', target='_blank') Ghost